.main {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: start;

}

.main .container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 30px;
}

.main h1 {
    font-family: "Be Vietnam Pro";
    font-size: 2vw;
    color: #CCD6F6
}

.main p {
    font: 'Be Vietnam Pro';
    font-size: 1vw;
    color: #8892B0;
}

.photo {
    width: 20vw;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.image img {
    width: 200px;
    object-fit: cover;
}

.modal {
    position: absolute;
    height: 100%;
    width: 100%;

    &:hover {
        background-color: #64ffda;
        opacity: 0.2;
    }
}

.imgContainer {
    border-radius: 0px;
    width: fit-content;
    box-shadow: 7px 7px 0px -4px #64ffda;
    cursor: pointer;
    position: relative;

    &:hover {
        box-shadow: 20px 20px 0px -4px #64ffda;

    }
}

.icons {
    width: 100%;
    height: 8vw;
    overflow-x: hidden;
    margin: 20px 0;
    position: relative;


}

.title {
    display: flex;
    align-items: center;
    width: 80%;
}

.title hr {
    height: 1px;
    width: 80%;
}

.wrapper {
    position: absolute;
    width: 150vw;
    display: flex;
    justify-content: space-between;
    z-index: 5;
}

.icons img {
    max-width: 85px;
    height: 8vw;
    margin: 0 5px;
    z-index: 1;
}

.inner {
    padding: 10px 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.inner p {
    font-size: 1.3vw;
}

.inner span {
    color: #64ffda;
    font-family: "Roboto Mono";
}

.inner h2 {
    font-family: "Roboto Mono";
    color: #8892B0;
}