.main {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;

}

.additional {
    width: 100%;
    display: flex;
    justify-content: center;
}

.main .container {
    margin: 0 0;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.main h3 {
    color: #64ffda;
    font-size: 1vw;
    margin: 0;
    margin-bottom: 30px;
    font-family: 'Roboto Mono';
}

.main h1 {
    color: #a8b2d1;
    font-size: 4.5vw;
    margin: 0;
    font-family: "Be Vietnam Pro";
}

.main h2 {
    color: #8892b0;
    font-size: 4.4vw;
    margin: 0;
    font-family: "Be Vietnam Pro";
}

.main p {
    color: #8892b0;
    font-size: 1.4vw;
    margin: 0;
    margin-top: 20px;
    font-family: "Roboto Mono";
}

.main .resume {
    margin-top: 50px;
}


.arrow {
    position: absolute;
    font-size: 90px;
    font-family: sans-serif;
    bottom: 100px;
    right: 20px;
    color: #64ffda;
}