.container {
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 70%;
    background-color: #112240;
    z-index: 900;
}

.modal {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: #0a192f;
    opacity: 0.5;
}

.inner {
    position: relative;
    margin: 15px 20px;
}

.navigation .hamMenu {
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}