.container {
    margin: 80px auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 20px;
    width: 100%;
    height: 50vh;
    padding: 0 5vw;
}

.container .picture {
    aspect-ratio: 16/9;
    max-width: 35vw;
    position: relative;

}

.picture .hover {
    position: absolute;
    background-color: #64ffda;
    opacity: 0.5;
    height: 100%;
    width: 100%;
    cursor: pointer;

    &:hover {
        opacity: 0;
    }
}

.picture img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 0;
}

.info {
    padding: 20px
}

.info h2 {
    font-family: "Be Vietnam Pro";
    font-size: 2.5vw;
    color: #ccd6f6;
    margin: 0;
    margin-top: 5px;

}

.info h3 {
    margin: 0;
    font-family: "Roboto Mono";
    color: #64ffda;
    font-size: 1.0vw;
}

.container .info {
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: right;
    position: relative;
}

.desc {
    color: #ccd6f6;
    font-size: 1.2vw;
    font-family: "Roboto Mono";
    text-align: right;
}

.info .desc {
    padding: 25px;
    position: absolute;
    width: 130%;
    right: 0;
    bottom: 25%;
    transform-origin: center right;
    min-height: 40%;
    background-color: #112240;

    &:hover {
        box-shadow: -2px 2px 15px #0a192f;
    }
}

.info .tech {
    position: absolute;
    bottom: 15%;
    right: 0;

}

.tech span {
    font-family: "Roboto Mono";
    font-size: 1vw;
    color: #ccd6f6
}