.container {
    position: relative;
    width: 100%;
    height: 23vw;
    padding: 0 5vw;
    display: flex;
    justify-content: end;
    width: 100%;
    margin: 40px auto;
}

.container .picture {
    aspect-ratio: 16/9;
    max-height: 100%;
    position: absolute;
    top: 0;
    right: 5vw;
}



.picture .hover {
    position: absolute;
    background-color: #64ffda;
    opacity: 0.5;
    height: 100%;
    width: 100%;
    cursor: pointer;

    &:hover {
        opacity: 0;
    }
}

.picture img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 1;
}

.info {

    padding: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 60%;
}

.info h2 {
    font-family: "Be Vietnam Pro";
    font-size: 2.5vw;
    color: #ccd6f6;
    margin: 0;
    text-align: left;
    margin-top: 1%;
}

.info h3 {
    margin: 0;
    font-family: "Roboto Mono";
    color: #64ffda;
    font-size: 1.0vw;
    text-align: left;
}



.desc {
    color: #ccd6f6;
    font-size: 1.2vw;
    margin: 10px 0;
    padding: 25px;
    font-family: "Roboto Mono";
    text-align: left;
    width: 180%;
    background-color: #112240;
    z-index: 1;

    &:hover {
        box-shadow: -2px 2px 15px #0a192f;
    }
}

.tech {

    display: flex;
    justify-content: flex-end;

}


.tech span {
    font-family: "Roboto Mono";
    font-size: 1vw;
    color: #ccd6f6;
    margin: 0 3%;

}