.main {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: start;

}

.main .container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 30px;
}

.main h1 {
    font-family: "Be Vietnam Pro";
    font-size: 32px;
    color: #CCD6F6
}

.main p {
    font: 'Be Vietnam Pro';
    font-size: 20px;
    color: #8892B0;
}

.image {
    display: flex;
    justify-content: center;
    border-radius: 10px;
}

.photo {
    width: 450px;
    object-fit: cover;
}

.imgContainer {
    width: fit-content;
    box-shadow: 7px 7px 0px -4px #64ffda;
    cursor: pointer;
    position: relative;

    &:hover {
        box-shadow: 20px 20px 0px -4px #64ffda;
    }
}

.main hr {
    height: 1px;
    width: 80%;
}

.title {
    display: flex;
    align-items: center;
    width: 80%;
}

.main span {
    color: #64ffda;
    font-family: "Roboto Mono";
}

.main .inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.inner a {
    color: #64ffda;
    font-family: "Roboto Mono";

}

.modal {
    position: absolute;
    height: 100%;
    width: 100%;

    &:hover {
        background-color: #64ffda;
        opacity: 0.2;
    }
}