.socialvinecontainer {
    position: relative;
}

.vine {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 4px;
    height: 100%;
    background-color: #8b572a;
    /* Adjust the color as needed */
}

.sociallinks {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 16px;
    /* Adjust the margin as needed */
}

.socialicon {
    margin: 0 8px;
    color: #ffffff;
    /* Adjust the color as needed */
    transition: transform 0.2s ease-in-out;
}

.socialicon:hover {
    transform: scale(1.2);
}