body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0a192f;
  color: white;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: 'currentColor';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}

:root {
  --green: #64ffda;
  --heading1: 60px;
  --heading2: 40px;
  --heading12: 50px;
  --heading3: 30px;
  --heading34: 28px;
  --heading4: 25px;
  --heading5: 20px;
  --para1: 20px;
  --para12: 15px;
  --para2: 12px;
  --para3: 10px;
  --para4: 7px;
  --subhead1: 25px;
  --subhead2: 20px;
}

span {
  white-space: nowrap
}